# Prevent direct access to log files
<Files "*.txt">
    Order Deny,Allow
    Deny from all
</Files>

# Allow access to log files only from admin area
<Files "*.txt">
    <RequireAll>
        Require ip 127.0.0.1
        Require local
    </RequireAll>
</Files>
